.popup {
  position: fixed;
  top: 28%; /* Adjust the distance from the top */
  left: 150px; /* Adjust the distance from the left */
  transform: translate(
    -50%,
    0
  ); /* Center horizontally, but keep vertical alignment as is */
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for better visibility */
}
.popup.gameover {
  position: fixed;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Make it a circle */
  box-shadow: inset 0 0 50px #2e2a7b, inset 20px 0 80px #4b2d77,
    inset -20px 0 80px #4b2d77, inset 20px 0 300px #2e2a7b,
    inset -20px 0 300px #2e2a7b, 0 0 50px #2e2a7b, -10px 0 80px #4b2d77,
    10px 0 80px #4b2d77; /* Add inner and outer shadows */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text alignment */
  color: #fff; /* Set text color to white or adjust as needed */
}
.power-ups {
  position: absolute;
  text-align: center;
  top: 16%; /* Adjust the distance from the top */
  left: 24%;
  width: 30%;
  color: blue;
  text-shadow: 0 0 2px #00ffff, 0 0 3px #00ffff, 0 0 4px #00bcd4,
    0 0 5px #00bcd4, 0 0 6px #00838f, 0 0 7px #00838f, 0 0 8px #00838f; /* Deepest aqua shadow for a strong glow */
}
.power-up {
  background-color: #fff;
  border: solid 2px #fff;
  box-shadow: inset 60px 0 120px #a2c5ac, inset -60px 0 120px #cde6f5;

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 45%;
}
.power-up p {
  color: white;
}
.player2-power-up {
  margin-top: 86%;
}
.power-up h3 {
  margin-top: 0;
}

.player1-container {
  position: absolute;
  top: 12.5%;
  right: 15%;
}

.player2-container {
  position: absolute;
  bottom: 25%;
  right: 15%;
}
