.match-history-container {
  padding: 20px
}

.match-history-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.match-history-table th, .match-history-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.match-history-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
}

.match-history-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.match-history-table tr:hover {
  background-color: #ddd;
}

.match-stats {
  margin-top: 20px;
}

.match-stats h3 {
  margin-bottom: 10px;
}

.match-stats p {
  margin: 5px 0;
}