.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 1px 5px;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.nav-logo {
  display: flex;
  /* flex: 1; */
  height: 50px;
  width: auto;
  align-items: center;
}

.nav-title {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;         /* Ensures the text color is white */
  text-decoration: none; /* Removes the underline */
}

.nav-title a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  /* flex: 3; */
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info p {
  margin: 0;
  font-size: large;
}

.user-info strong {
  font-weight: bold;
}

.user-info img {
  border-radius: 50%;  /* Makes the image circular */
  border: 2px solid white; /* Optional border */
  width: 50px;
  height: 50px;
  object-fit: cover;  /* Ensures the image fits within the container */
}

.nav-container button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-container button:hover {
  background-color: #004494;
}

.nav-container .back-btn {
  margin-left: 20px;
  background-color: #28a745;
}

.nav-container .back-btn:hover {
  background-color: #218838;
}

/* Ensure the page content does not overlap with the fixed nav */
.body-content {
  padding-top: 10px;
}
